@charset "UTF-8";
html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0; }

.container {
  flex: 1 0 auto; }
  @media (max-width: 991.98px) and (min-width: 576px) {
    .container {
      max-width: 100%; } }

.footer {
  flex-shrink: 0; }

a {
  transition: .3s; }
  a:hover {
    text-decoration: none; }

select {
  cursor: pointer; }

.btn {
  font-weight: 600;
  -webkit-font-smoothing: antialiased; }

.btn-primary {
  background-color: #20274F;
  border-color: #20274F; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #323b70 !important;
    border-color: #323b70 !important; }
  .btn-primary:focus, .btn-primary:active {
    box-shadow: 0 0 0 0.2rem #3e81f6 !important; }

.btn-light {
  color: #20274F; }

.btn-danger {
  color: white;
  background-color: #ff6e46;
  border-color: #ff6e46; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active {
    color: white;
    background-color: #d7461d !important;
    border-color: #d7461d !important; }

.text-muted {
  color: #9a9a9a !important; }

.form-group {
  margin-bottom: 12px; }
  .form-group > label {
    display: block;
    font-size: 13px;
    margin-bottom: 2px; }

.form-control::placeholder {
  color: #CDD7E0; }

.form-check-label {
  cursor: pointer;
  line-height: 1; }

.form-control {
  border-color: #e7e7e7; }

footer {
  padding: 64px 0;
  width: 100%;
  font-size: 13px;
  line-height: 1.6;
  color: white;
  background-color: #002554;
  border-top: 1px solid #e7e7e7; }
  footer p {
    margin-bottom: 0; }

.nav-global {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 12px;
  padding-bottom: 12px; }
  .nav-global .navbar-brand {
    display: inline-flex; }

.navbar-nav {
  flex-direction: row; }

.nav-item .nav-link + .nav-link {
  margin-left: 16px; }
.nav-item a {
  transition: .3s;
  display: inline-flex;
  vertical-align: middle;
  color: #363636;
  font-size: 13px;
  line-height: 1.6; }
  .nav-item a:hover {
    color: rgba(73, 73, 73, 0.5); }

.container-search {
  padding: 80px 0;
  background-image: url(https://cdn.imweb.me/thumbnail/20181115/5bed3df9234c0.gif);
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.form-group-wrap {
  padding: 32px;
  border-radius: 12px;
  background: white; }

.input-group i {
  font-size: 20px;
  line-height: 1.2;
  color: #363636; }

.container-flight,
.container-reservation {
  padding-bottom: 80px;
  background-color: #FBFBFD; }
  .container-flight .list-flight-title,
  .container-reservation .list-flight-title {
    margin-top: 56px;
    font-size: 26px;
    line-height: 1.2;
    line-height: 1.4;
    color: #363636; }
    .container-flight .list-flight-title i,
    .container-reservation .list-flight-title i {
      vertical-align: middle; }
  .container-flight .list-flight,
  .container-reservation .list-flight {
    margin: 16px 0 0 0;
    padding-left: 0;
    list-style: none; }
    .container-flight .list-flight li + li,
    .container-reservation .list-flight li + li {
      margin-top: 24px; }
  .container-flight .list-flight-item,
  .container-reservation .list-flight-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(20, 20, 50, 0.12); }
  .container-flight .flight-info-group,
  .container-reservation .flight-info-group {
    margin: auto;
    padding: 32px 64px;
    border-right: 4px dashed #e7e7e7; }
  .container-flight .price-info-group,
  .container-reservation .price-info-group {
    margin: auto;
    text-align: center; }
  .container-flight .row-departure-flight,
  .container-flight .row-arrival-flight,
  .container-flight .timeline-flight,
  .container-reservation .row-departure-flight,
  .container-reservation .row-arrival-flight,
  .container-reservation .timeline-flight {
    display: flex; }
  .container-flight .row-departure-flight,
  .container-reservation .row-departure-flight {
    margin-bottom: 24px; }
  .container-flight .timeline-flight,
  .container-reservation .timeline-flight {
    width: 100%; }
  .container-flight .departure-time,
  .container-flight .arrival-time,
  .container-reservation .departure-time,
  .container-reservation .arrival-time {
    display: flex;
    flex-direction: column; }
    .container-flight .departure-time time,
    .container-flight .arrival-time time,
    .container-reservation .departure-time time,
    .container-reservation .arrival-time time {
      min-width: 100px;
      font-weight: 600;
      font-size: 20px;
      color: #363636; }
    .container-flight .departure-time .departure-location,
    .container-flight .arrival-time .departure-location,
    .container-reservation .departure-time .departure-location,
    .container-reservation .arrival-time .departure-location {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1.6;
      font-weight: 300;
      color: #363636; }
  .container-flight .departure-time,
  .container-reservation .departure-time {
    text-align: right; }
  .container-flight .arrival-time,
  .container-reservation .arrival-time {
    text-align: left; }
  .container-flight .bar-flight,
  .container-reservation .bar-flight {
    position: relative;
    display: block;
    height: 2px;
    margin: 16px;
    width: 80%;
    padding: 0;
    line-height: 0;
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 4px; }
    .container-flight .bar-flight .bar-flight-point,
    .container-reservation .bar-flight .bar-flight-point {
      position: inherit;
      top: -2px;
      display: inline-block;
      width: 6px;
      height: 6px; }
      .container-flight .bar-flight .bar-flight-point i,
      .container-reservation .bar-flight .bar-flight-point i {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        margin-top: -8px;
        transform: rotate(90deg);
        content: '';
        font-size: 16px;
        color: #20274F; }
    .container-flight .bar-flight .flight-time,
    .container-reservation .bar-flight .flight-time {
      margin-top: 4px;
      font-size: 13px;
      line-height: 1.6;
      color: #9a9a9a;
      list-style: none; }
  .container-flight .remaining-seat,
  .container-reservation .remaining-seat {
    margin: auto auto auto 24px;
    width: 96px;
    text-align: center;
    font-size: 0; }
    .container-flight .remaining-seat i, .container-flight .remaining-seat .remaining-seat-number,
    .container-reservation .remaining-seat i,
    .container-reservation .remaining-seat .remaining-seat-number {
      color: #9a9a9a; }
    .container-flight .remaining-seat i,
    .container-reservation .remaining-seat i {
      font-size: 24px; }
    .container-flight .remaining-seat .remaining-seat-number,
    .container-reservation .remaining-seat .remaining-seat-number {
      margin: 0;
      width: 100px;
      font-size: 13px;
      line-height: 1.6;
      color: #9a9a9a; }
  .container-flight .total-traveller,
  .container-flight .total-flight-price,
  .container-flight .noti-refund-message,
  .container-reservation .total-traveller,
  .container-reservation .total-flight-price,
  .container-reservation .noti-refund-message {
    font-size: 13px;
    line-height: 1.6;
    color: #9a9a9a;
    font-weight: 400; }
  .container-flight .total-traveller,
  .container-flight .flight-price,
  .container-reservation .total-traveller,
  .container-reservation .flight-price {
    margin-bottom: 0; }
  .container-flight .total-flight-price,
  .container-reservation .total-flight-price {
    margin-bottom: 16px; }
  .container-flight .noti-refund-message,
  .container-reservation .noti-refund-message {
    margin-top: 4px; }
  @media (max-width: 991.98px) {
    .container-flight .flight-info-group,
    .container-flight .price-info-group,
    .container-reservation .flight-info-group,
    .container-reservation .price-info-group {
      padding: 24px; }
    .container-flight .remaining-seat,
    .container-reservation .remaining-seat {
      margin: auto auto auto 8px; } }
  @media (max-width: 767.98px) {
    .container-flight .flight-info-group,
    .container-reservation .flight-info-group {
      border-right: none; }
    .container-flight .price-info-group,
    .container-reservation .price-info-group {
      padding: 24px 24px 32px;
      border-top: 4px dashed #e7e7e7; } }
  @media (max-width: 575.98px) {
    .container-flight .list-flight-title,
    .container-reservation .list-flight-title {
      font-size: 20px;
      line-height: 1.6;
      text-align: center; }
    .container-flight .departure-time,
    .container-flight .arrival-time,
    .container-reservation .departure-time,
    .container-reservation .arrival-time {
      display: flex;
      flex-direction: column; }
      .container-flight .departure-time time,
      .container-flight .arrival-time time,
      .container-reservation .departure-time time,
      .container-reservation .arrival-time time {
        min-width: 80px;
        font-size: 16px;
        line-height: 1.6; }
      .container-flight .departure-time .departure-location,
      .container-flight .arrival-time .departure-location,
      .container-reservation .departure-time .departure-location,
      .container-reservation .arrival-time .departure-location {
        font-size: 13px;
        line-height: 1.6; }
    .container-flight .list-flight-item,
    .container-reservation .list-flight-item {
      flex-direction: column; }
    .container-flight .remaining-seat,
    .container-reservation .remaining-seat {
      display: none; } }

.container-reservation .flight-info-group {
  padding: 24px 128px; }
.container-reservation .price-info-group .flight-price {
  margin-bottom: 12px; }
.container-reservation .flight-name {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center; }
  .container-reservation .flight-name i {
    vertical-align: middle; }
.container-reservation .complete {
  border: 4px solid #d7e2eb;
  border-radius: 16px; }
  .container-reservation .complete:before {
    position: relative;
    font-family: 'Material Icons';
    content: 'check 결제가 완료되었습니다.';
    display: flex;
    flex: 0 0 100%;
    padding: 8px 24px;
    font-weight: 600;
    background-color: #d7e2eb;
    color: #363636;
    border-radius: 6px 6px 0 0; }
.container-reservation .refund {
  border: 4px solid #d7e2eb;
  border-radius: 16px;
  background-color: #FBFBFD;
  opacity: .3; }
  .container-reservation .refund:before {
    position: relative;
    font-family: 'Material Icons';
    content: 'check 환불이 완료되었습니다.';
    display: flex;
    flex: 0 0 100%;
    padding: 8px 24px;
    font-weight: 600;
    background-color: #d7e2eb;
    color: #363636;
    border-radius: 6px 6px 0 0; }
  .container-reservation .refund .btn {
    cursor: not-allowed;
    pointer-events: none; }
  .container-reservation .refund .flight-price {
    text-decoration: line-through; }
@media (max-width: 768px) {
  .container-reservation .flight-info-group {
    padding: 24px; } }
@media (max-width: 575.98px) {
  .container-reservation .complete:before, .container-reservation .refund:before {
    justify-content: center; } }

.container-empty {
  display: flex;
  text-align: center;
  color: #9a9a9a; }

.txt-error {
  margin: auto; }
  .txt-error i {
    font-size: 72px; }
  .txt-error h6 {
    line-height: 1.4;
    font-weight: 400; }

.container-sign {
  max-width: 400px; }

.form-sign {
  margin: 80px 0;
  padding: 16px; }
  .form-sign .form-headline {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px; }
  .form-sign .txt-terms {
    margin-top: 56px;
    text-align: center;
    font-size: 14px;
    color: #9a9a9a; }
    .form-sign .txt-terms a {
      color: #363636; }

.bootstrap-datetimepicker-widget {
  width: auto !important; }
  .bootstrap-datetimepicker-widget table {
    font-size: 13px;
    line-height: 1.6; }
  .bootstrap-datetimepicker-widget table th {
    padding: 12px;
    font-weight: 500;
    border-bottom: 1px solid #dee2e6;
    color: #9a9a9a; }
  .bootstrap-datetimepicker-widget table td.old,
  .bootstrap-datetimepicker-widget table td.new {
    color: #dedede !important; }
  .bootstrap-datetimepicker-widget table td.day {
    color: #9a9a9a; }
  .bootstrap-datetimepicker-widget table td.active {
    background-color: #20274F !important; }
  .bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #fff !important; }
  .bootstrap-datetimepicker-widget .picker-switch {
    padding: 16px;
    font-weight: 700;
    color: #363636; }
  .bootstrap-datetimepicker-widget .accordion-toggle {
    display: none; }

.modal-dialog {
  max-width: 400px; }

.modal-header {
  border-bottom: none; }
  .modal-header .modal-title {
    margin-bottom: 0;
    padding-left: 8px;
    line-height: 1.5;
    font-weight: 600; }

.modal-body {
  padding: 0 16px; }
  .modal-body p {
    padding: 0 8px; }
  .modal-body .table-flight table {
    margin-bottom: 0; }
  .modal-body .table-flight thead th {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #e7e7e7; }
  .modal-body .table-flight td {
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 700;
    border-top: none; }
  .modal-body tbody {
    border-bottom: 1px solid #e7e7e7; }
    .modal-body tbody .date {
      vertical-align: middle;
      text-align: right;
      font-size: 13px;
      font-weight: 400; }
  .modal-body tfoot .total-traveller {
    padding: 8px 12px;
    vertical-align: inherit;
    font-weight: 400;
    color: #9a9a9a; }
  .modal-body tfoot .total-price {
    padding: 8px 12px;
    text-align: right;
    color: #0078ff;
    font-weight: 700;
    font-size: 20px; }

.modal-footer {
  padding: 16px 24px 16px 16px;
  border-top: none; }

/*# sourceMappingURL=style.css.map */
